
{% set pageHeadingHtml = 
  'Do you want to remove <span class="app-nowrap">' + data.providers[ providerIndex ].mentors[ mentorIndex ]["Full name"] + "</span>?" 
%}

{% extends "layout.html" %}

{% block pageNavigation %}
  {{ govukBackLink({
    text: 'Back',
    href: 'javascript:history.back();'
  }) }}
{% endblock %}

{% block content %}
  <form action="./remove-answer" method="post" novalidate>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <h1 class="govuk-heading-l">
          {{ pageHeadingHtml | safe }}
        </h1>
        {{ govukButton({
          text: "Remove this mentor",
          classes: "govuk-button--warning"
        }) }}
        <p class="govuk-body">
          <a href="../../general-mentor">
            Cancel and return to mentor list
          </a>
        </p>
      </div>
    </div>
  </form>
{% endblock %}
