
{% set formAction   = "./teachers-answer" %}
{% set providerName = data.providers[ providerIndex ].name if data.providers[ providerIndex ].name else "Example provider" %}

{% set pageHeadingHtml -%}
  Teachers who trained with <span class="app-nowrap">{{ providerName }}</span>
{%- endset %}
{% set pageHeading = pageHeadingHtml | stripHtml %}

{% extends "_templates/_form.html" %}

{% block formContent %}
  <h1 class="govuk-heading-l">
    {{ pageHeadingHtml | safe }}
  </h1>
  {% for teacherIndex in range(1, data.maxTeachers + 1) %}
    <div
      id="{{ teacherIndex | getOrdinalName }}-teacher-input-group"
      class="{{ 'app-display-hidden' if loop.index > 1 }}">
        <h2 class="govuk-heading-m">
          {{ teacherIndex | getOrdinalName | sentenceCase }} teacher
        </h2>
        {{ govukInput({
          label: {
            text: "Full name",
            classes: "govuk-label--s"
          },
          classes: "govuk-!-width-one-half",
          id: "teacher-" + teacherIndex,
          name: "teachers[" + ( teacherIndex ) + "][name]",
          value: data.teachers[ providerIndex ].teachers[ teacherIndex ]["name"]
        }) }}
        {{ govukInput({
          label: {
            text: "Teacher reference number (TRN)",
            classes: "govuk-label--s"
          },
          classes: "govuk-input--width-10",
          id: "teacher-" + teacherIndex,
          name: "teachers[" + ( teacherIndex ) + "][trn]",
          value: data.teachers[ providerIndex ].teachers[ teacherIndex ]["trn"]
        }) }}
        {{ govukInput({
          label: {
            text: "General mentor training time",
            classes: "govuk-label--s"
          },
          suffix: {
            text: "hours"
          },
          classes: "govuk-input--width-2",
          id: "teacher-" + teacherIndex,
          name: "teachers[" + ( teacherIndex ) + "][trainingTime]",
          value: data.teachers[ providerIndex ].teachers[ teacherIndex ]["trainingTime"]
        }) }}
    </div>
    {% if loop.index > 1 %}
        <a 
          id=   "remove-{{ teacherIndex | getOrdinalName }}-teacher"
          href= "#"
          type= "button"
          class="
            govuk-link
            govuk-link--no-visited-state
            govuk-body
            app-display-hidden
            govuk-!-margin-bottom-7"
          >
          Remove {{ teacherIndex | getOrdinalName }} teacher
        </a>
    {% endif %}
  {% endfor %}
  {{ govukButton({
    text:    "Add another teacher",
    classes: "govuk-button--secondary",
    attributes: {
      "type": "button",
      "name": "add-teacher",
      "id":   "add-teacher"
    }
  }) }}
{% endblock %}
