
{% set formAction  = "./which-providers-answer" %}
{% set pageHeading = "List the ITT providers you hosted trainees from in the 2024 to 2025 school year" %}
{% extends "_templates/_form.html" %}


{% block formContent %}

  <h1 class="govuk-heading-l">
    {{ pageHeading }}
  </h1>

  {% for providerIndex in range(1, data.maxProviders + 1) %}
    <div
      id="{{ providerIndex | getOrdinalName }}-provider-input-group"
      class="{{ 'app-display-hidden' if loop.index > 1 }}">
        {{ govukInput({
          label: {
            text: providerIndex | getOrdinalName | sentenceCase + " provider",
            classes: "govuk-label--m"
          },
          classes: "govuk-!-width-three-quarters",
          id: "provider-" + providerIndex,
          name: 'providers[' + (providerIndex) + '][name]',
          value: data.providers[providerIndex]["name"]
        }) }}
    </div>
    {% if loop.index > 1 %}
        <a 
          id=   "remove-{{ providerIndex | getOrdinalName }}-provider"
          href= "#"
          type= "button"
          class="
            govuk-link 
            govuk-link--no-visited-state 
            govuk-body 
            app-display-hidden
            govuk-!-margin-bottom-7"
          >
          Remove {{ providerIndex | getOrdinalName }} provider
        </a>
    {% endif %}
  {% endfor %}
  {{ govukButton({
    text:    "Add another provider",
    classes: "govuk-button--secondary",
    attributes: {
      "type": "button",
      "name": "add-provider",
      "id":   "add-provider"
    }
  }) }}
{% endblock %}
