
{% set formAction  = "./add-answer" %}

{% set pageHeadingHtml -%}
    ITT provider your <span class="app-nowrap">general mentors</span>
    trained with in the <span class="app-nowrap">2024 to 2025</span> 
    <span class="app-nowrap">school year</span>
{%- endset %}

{% extends "_templates/_form.html" %}

{% block formContent %}
  {% include "includes/school-name-caption.html" %}
  <h1 class="govuk-heading-l">
    {{ pageHeadingHtml | safe }}
  </h1>
  {{ govukInput({
    label: {
      text:"ITT provider name",
      classes: "govuk-label--m"
    },
    classes: "govuk-!-width-two-thirds",
    id: "provider-" + providerIndex,
    name: "tempProviderStore",
    value: data.providers[ providerIndex ]["name"]
  }) }}
{% endblock %}
