
{% set pageHeading = "Apply for ITT general mentor training funding" %}
{% set serviceName = false %}

{% extends "layout.html" %}

{% set publishedDateHtml %}
  <p class="govuk-body-s">
    Published 1 September 2023
  </p>
{% endset %}

{% set getEmailsAboutThisPageHtml %}
  <a class="app-govuk-notification-button" href="#">
    Get emails about this page
  </a>
{% endset %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
      items: [
        { text: "Home",
          href: "#"
        },
        { text: "Education, training and skills",
          href: "#"
        },
        { text: "Teaching and leadership",
          href: "#"
        },
        { text: "Teacher training and professional development",
          href: "#"
        },
        {
          text: "Initial Teacher Training (ITT)",
          href: "#"
        }
      ]
    }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-xl">Guidance</span>
        {{ pageHeading }}
      </h1>
      <p class="govuk-body-lead">
        Funding for all placement schools to cover the 
        costs associated with training a general mentor for the 
        new minimum time requirements.
      </p>
    </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <p class="govuk-body-s govuk-!-margin-bottom-1">
        From: <a href="#">Department for Education</a>
      </p>
      {{ publishedDateHtml | safe }}
      {{ getEmailsAboutThisPageHtml | safe }}
      <div class="app-govuk-devolved-nations">
        <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">
          Applies to England
        </p>
      </div>
    </div>
  </div>

  {% set sectionTitles = [
    'Overview',
    'Conditions of funding',
    'How to apply for funding',
    'What happens next'
  ] %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h2 class="govuk-body-s govuk-!-margin-bottom-2" id="contents">
        Contents
      </h2>
      <ul class="govuk-list app-list--em-dash govuk-body-s govuk-!-margin-bottom-6">
        {% for title in sectionTitles %}
        <li><a href="#{{ title | slugify }}">{{ title }}</a></li>
        {% endfor %}
      </ul>
      <a class="app-govuk-notification-button" href="#">
        Print this page
      </a>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h2 class="govuk-heading-m" id="{{ sectionTitles[0] | slugify }}">{{ sectionTitles[0] }}</h2>
      <p class="govuk-body">
        For the 2024 to 2025 academic year all teachers who mentor a
        trainee during their ITT placement must have completed 
        <span class="app-nowrap">20 hours</span> of general mentor training with an ITT provider.
      </p>
      <p class="govuk-body">
        Read more about <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1077177/Initial_Teacher_Training__ITT__Reform_Funding_Guidance_160522.pdf">
        ITT mentor training</a>.
      </p>
      <p class="govuk-body">
        Schools can claim funding for the time a teacher takes to train.
      </p>
      <h2 class="govuk-heading-m" id="{{ sectionTitles[1] | slugify }}">{{ sectionTitles[1] }}</h2>
      <p class="govuk-body">
        Funding is to support schools with general mentor training. 
        This is for any time spent training, not only 
        face-to-face with <span class="app-nowrap">ITT providers</span>.
      </p>
      <p class="govuk-bdoy">
        Funding is adjusted by region. For each mentor schools can claim:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Inner London — up to £1,072</li>
        <li>Outer London — up to £965</li>
        <li>Fringe — up to £902</li>
        <li>Rest of England — up to £876</li>
      </ul>
      <p class="govuk-body">
        This is available to all schools that host trainees, including
        <span class="app-nowrap">independent schools</span>.
      </p>
      <h3 class="govuk-heading-s">
        What is not covered by the funding
      </h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          teachers that train to become a general mentor without a 
          trainee to mentor
        </li>
        <li>
          travel time or expenses
        </li>
      </ul>

      <h3 class="govuk-heading-s">
        What happens if a trainee withdraws or defers
      </h3>
      <p class="govuk-body">
        If an ITT trainee withdraws or defers:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          before a teacher starts their general mentor training, the 
          school cannot claim any funding
        </li>
        <li>
          after a teacher has started their general mentor training, the
          school can claim up to the full amount
        </li>
      </ul>
      <h2 class="govuk-heading-m" id="{{ sectionTitles[2] | slugify }}">{{ sectionTitles[2] }}</h2>

      <p class="govuk-body">
        <a href="/claim-general-mentor-funding/school">
          Apply for grant funding
        </a>
      </p>

      <!-- p class="govuk-body govuk-!-margin-bottom-1">
        After all your general mentors have completed their training
        and hosted at least one trainee, email <a href="mailto:ITTReform.Funding@education.gov.uk">ITTReform.Funding@education.gov.uk</a>
        with:
      </p -->

      <p class="govuk-body">You will need to provide:</p>

      <ul class="govuk-list govuk-list--bullet">
        {# to identify the school, and the region for funding level #}
        <li>
          the school’s name, address and URN
        </li> 
        {# ? #}
        <li>
          the name and teacher reference number (TRN) of teachers who took part in training
        </li>
        {# so we know how much to pay the school #}
        <li>
          the hours of training completed by each teacher
        </li> 
        {# so we know they're eligible #}
        <li>
          confirmation that each teacher you’re claiming for
          mentored at least one different trainee each
        </li>
      </ul>
      <p class="govuk-body">
        Applications for ITT general mentor funding must be made by 
        <span class="app-nowrap">31 August 2025</span>.
      </p>
      <p class="govuk-body">
        If your school is not an academy or does not belong to a local
        authority, you will need to provide payment information.
        <a href="https://www.gov.uk/guidance/provide-information-about-your-banking-and-payments-to-dfe">
          How to provide information about your banking and payments</a>.
      </p>
      <h2 class="govuk-heading-m" id="{{ sectionTitles[3] | slugify }}">{{ sectionTitles[3] }}</h2>
      <p class="govuk-body">
        Claims will be paid between September and October 2025
      </p>
      <p class="govuk-body">
        Timetables will be reviewed as part of the end of financial year assurance processes in <span class="app-nowrap">March 2026</span>.
      </p>
      {{ publishedDateHtml | safe }}
      {{ getEmailsAboutThisPageHtml | safe }}
      <p class="govuk-body-s">
        <a href="#contents" class="govuk-link govuk-link--no-visited-state">↑ Contents</a>
      </p>
      <a class="app-govuk-notification-button" href="#">
        Print this page
      </a>
      <hr class="app-govuk-blue-divider">
      <h2 class="govuk-heading-s">
        Explore this topic
      </h2>
      <ul class="govuk-list">
        <li>
          <a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">
            Initial Teacher Training (ITT)
          </a>
        </li>
        <li>
          <a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">
            Apply for lead mentor funding
          </a>
        </li>
        <li>
          <a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">
            Apply for intensive training and practice funding
          </a>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
