
{% set pageHeading = "Initial teacher training (ITT): funding for the intensive training and practice element of ITT" %}
{% set serviceName = false %}

{% extends "layout.html" %}

{% set publishedDateHtml %}
  <p class="govuk-body-s">
    Published 10 January 2023
  </p>
{% endset %}

{% set getEmailsAboutThisPageHtml %}
  <a class="app-govuk-notification-button" href="#">
    Get emails about this page
  </a>
{% endset %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
      items: [
        { text: "Home",
          href: "#"
        },
        { text: "Education, training and skills",
          href: "#"
        },
        { text: "Teaching and leadership",
          href: "#"
        },
        { text: "Teacher training and professional development",
          href: "#"
        },
        {
          text: "Initial Teacher Training (ITT)",
          href: "#"
        }
      ]
    }) }}
{% endblock %}

{% block content %}
  {%- set tableBodyRows = [] -%}
{%- for i in range(1, 11) %}
  {% set traineeCellText %}
    <span class="app-nowrap">
      {% if loop.first %}
        1 to 39
      {% else %}
        {{ (25 * loop.index) - 10 }} to {{ ((25 * loop.index) - 10) + 24 }}
      {% endif %}
    </span>
  {% endset %}
  {% set row = [
      { text: traineeCellText | safe },
      { text: (i * 9514) | currency,
        format: "numeric" },
      { text: (i * 5714) | currency,
        format: "numeric" },
      { text: i,
        format: "numeric" }
    ] %}
  {% set tableBodyRows = tableBodyRows | push(row) %}
{% endfor -%}
{%- set traineeToLeadMentorTable %}
  {{ govukTable({
    caption: "Amounts providers can claim for lead mentors",
    captionClasses: "govuk-table__caption--m",
    head: [
      {
        text: "Trainees"
      },
      {
        text: "Maximum amount of funding available for postgraduate trainees"
      },
      {
        text: "Maximum amount of funding available for undergraduate trainees"
      },
      {
        text: "Units of funding"
      }
    ],
    rows: tableBodyRows
  }) }}
{% endset -%}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Guidance</span>
        {{ pageHeading }}
      </h1>
      <p class="govuk-body-lead">
        This funding is to help accredited training providers pay for the time needed from teaching experts to create and deliver the new intensive training and practice element of ITT in the 2024 to 2025 academic year.
      </p>
    </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <p class="govuk-body-s govuk-!-margin-bottom-1">
        From: <a href="#">Department for Education</a>
      </p>
      {{ publishedDateHtml | safe }}
      {{ getEmailsAboutThisPageHtml | safe }}
      <div class="app-govuk-devolved-nations">
        <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">
          Applies to England
        </p>
      </div>
    </div>
  </div>


  {% set sectionTitles = [
    'Overview',
    'Amount of funding available to accredited training providers',
    'Claiming funding for intensive training and practice',
    'Using funding claimed for intensive training and practice',
    'Funding conditions for intensive training and practice'
  ] %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h2 class="govuk-body-s govuk-!-margin-bottom-2" id="contents">
        Contents
      </h2>
      <ul class="govuk-list app-list--em-dash govuk-body-s govuk-!-margin-bottom-6">
        {% for title in sectionTitles %}
        <li><a href="#{{ title | slugify }}">{{ title }}</a></li>
        {% endfor %}
      </ul>
      <a class="app-govuk-notification-button" href="#">
        Print this page
      </a>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      {% include "../_includes/guidance/itp.html" %}

      {{ publishedDateHtml | safe }}
      {{ getEmailsAboutThisPageHtml | safe }}
      <p class="govuk-body-s">
        <a href="#contents" class="govuk-link govuk-link--no-visited-state">↑ Contents</a>
      </p>
      <a class="app-govuk-notification-button" href="#">
        Print this page
      </a>
      <hr class="app-govuk-blue-divider">
      <h2 class="govuk-heading-s">
        Explore this topic
      </h2>
      <ul class="govuk-list">
        <li>
          <a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">
            Initial Teacher Training (ITT)
          </a>
        </li>
        <li>
          <a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">
            Apply for lead mentor funding
          </a>
        </li>
        <li>
          <a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">
            Apply for intensive training and practice funding
          </a>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
