
{% set formAction  = "./check-your-answers-answer" %}
{% set pageHeading = "Check your answers before sending your application" %}

{% extends "_templates/_form.html" %}

{% block formContent %}
  <h1 class="govuk-heading-l">
    {{ pageHeading }}
  </h1>

  {{ govukSummaryList({
    classes: 'govuk-!-margin-bottom-9',
    rows: [
      {
        key: {
          text: "Postgradute intensive training and practice" if data.providerType == "hei" else
                "Intensive training and practice"
        },
        value: {
          text: data.totalPostgradItpWeeks + " weeks" | pluralise(data.totalPostgradItpWeeks) + " for " + data.postgradTraineeCount + " trainees"
        },
        actions: {
          items: [
            {
              href: "./postgrad-trainees",
              text: "Change",
              visuallyHiddenText: "number of lead mentors"
            }
          ]
        }
      },
      {
        key: {
          text: "Undergraduate intensive training and practice"
        },
        value: {
          text: data.totalUndergradItpWeeks + " weeks" | pluralise(data.totalUndergradItpWeeks) + " for " + data.undergradTraineeCount + " trainees"
        },
        actions: {
          items: [
            {
              href: "./undergrad-trainees",
              text: "Change",
              visuallyHiddenText: "number of lead mentors"
            }
          ]
        }
      } if data.providerType == "hei",
      {
        key: {
          text: "Claim value"
        },
        value: {
          text: (data.totalItpClaimValue if data.totalItpClaimValue else data.itpClaimValueOther) | currency
        },
        actions: {
          items: [
            {
              href: "./claim-value",
              text: "Change",
              visuallyHiddenText: "claim value"
            }
          ]
        }
      },
      {
        key: {
          text: "Evidence"
        },
        value: {
          html: "File name"
        },
        actions: {
          items: [
            {
              href: "./evidence",
              text: "Change",
              visuallyHiddenText: "address"
            }
          ]
        }
      }
    ]
  }) }}

  <h2 class="govuk-heading-m">Now send your application</h2>

  <p class="govuk-body">
    By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.
  </p>
{% endblock %}
