
{% set formAction  = "./claim-value-answer" %}
{% set pageHeading = "How much do you want to claim!?" %}

{% set maxClaimValue = 
  (data.postgradTraineeWeeks | stringToNumber * data.postgradWeekValue) +
  (data.undergradTraineeWeeks | stringToNumber * data.undergradWeekValue)
%}

{% extends "_templates/_form.html" %}

{% block formContent %}
  {% set lessThanMaximumHtml %}
    {{ govukInput({
      label: {
        text: "Claim amount",
        classes: "govuk-label--s"
      },
      prefix: {
        text: "£"
      },
      classes: "govuk-input--width-4",
      id: "itpClaimValueOther",
      name: "itpClaimValueOther",
      inputmode: "numeric",
      pattern: "[0-9]*",
      spellcheck: false
    }) }}
  {% endset %}
  {{ govukRadios({
  idPrefix: "itpClaimValue",
  name: "itpClaimValue",
  fieldset: {
    legend: {
      text: "How much do you want to claim?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "Select one option."
  },
  items: [
    {
      value: maxClaimValue,
      text: maxClaimValue | currency
    },
    {
      value: "otherClaimAmount",
      text: "Less than " + maxClaimValue | currency,
      conditional: {
        html: lessThanMaximumHtml
      }
    }
  ]
}) }}
{% endblock %}
