
{% set formAction  = "./claim-value-answer" %}
{% set pageHeading = "How much do you want to claim!?" %}

{% extends "_templates/_form.html" %}

{% block formContent %}
  {% set lessThanMaximumHtml %}
    {{ govukInput({
      label: {
        text: "Claim amount",
        classes: "govuk-label--s"
      },
      prefix: {
        text: "£"
      },
      classes: "govuk-input--width-4",
      id: "itpClaimValueOther",
      name: "itpClaimValueOther",
      inputmode: "numeric",
      pattern: "[0-9]*",
      spellcheck: false
    }) }}
  {% endset %}
  {{ govukRadios({
  idPrefix: "actualItpClaimValue",
  name: "actualItpClaimValue",
  fieldset: {
    legend: {
      text: "How much do you want to claim?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "Select one option."
  },
  items: [
    {
      value: actualItpClaimValue,
      text: data.totalItpClaimValue | currency
    },
    {
      value: "actualItpClaimValue",
      text: "Less than " + data.totalItpClaimValue | currency,
      conditional: {
        html: lessThanMaximumHtml
      }
    }
  ]
}) }}
{% endblock %}
