
{% set formAction  = './incomplete-trainees-answer' %}
{% set pageHeading = 'How many weeks of ITP did these who withdrew or deferred complete?'%}

{% extends "_templates/_form.html" %}
{% block formContent %}
  <h1 class="govuk-heading-l">
    {{ pageHeading }}
  </h1>
  {% set trainees = [] %}
  {% for trainee in data.incompleteTrainees %}
    {% set traineeName = trainee.identification.givenName + " " + trainee.identification.familyName %}
    {% set hintTextHtml %}
      TRN: {{ trainee.identification.trn }}<br>
      Course: {{ trainee.courseDetails.courseNameShort }}
    {% endset %}
    {{ govukInput({
      label: {
        text: traineeName,
        classes: "govuk-label--m"
      },
      hint: {
        text: hintTextHtml | safe,
        classes: "govuk-!-font-size-16"
      },
      classes: "govuk-input--width-2 govuk-!-margin-bottom-4",
      id: trainee.itpWeeks,
      name: "itpWeeks",
      suffix: {
        text: "weeks"
      },
      spellcheck: false
    }) }}
  {% endfor %}
{% endblock %}
