
{% set formAction  = './postgrad-trainees-answer' %}
{% set pageHeading = 'Which of these ' + ('postgraduate' if data.providerType == 'hei') + ' trainees completed 4 weeks of ITP?'%}

{% extends "_templates/_form.html" %}
{% block formContent %}
  {% set trainees = [
      {
        value: "selectAll",
        text:  "All trainees",
        id: "select-all"
      }
    ] %}
  {% for trainee in data.postgradTrainees %}
    {% set traineeName = trainee.identification.givenName + " " + trainee.identification.familyName %}
    {% set hintTextHtml %}
      TRN: {{ trainee.identification.trn }}<br>
      Course: {{ trainee.courseDetails.courseNameShort }}
    {% endset %}
    {% set trainees = trainees | push(
      { 
        value: trainee.identification.trn,
        text:  traineeName,
        hint: {
          text: hintTextHtml | safe,
          classes: "govuk-!-font-size-16"
        }
      }
    ) %}
  {% endfor %}
  {{ govukCheckboxes({
    idPrefix: "confirmedPostgradTRNs",
    name: "confirmedPostgradTRNs",
    fieldset: {
      legend: {
        text: pageHeading,
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    hint: {
      text: "Select all that apply."
    },
    items: trainees
  }) }}
{% endblock %}
