
{% set formAction  = "./check-your-answers-answer" %}
{% set pageHeading = "Check your answers before sending your application" %}

{% extends "_templates/_form.html" %}

{% block formContent %}
  <h1 class="govuk-heading-l">
    {{ pageHeading }}
  </h1>

  {{ govukSummaryList({
    classes: 'govuk-!-margin-bottom-9',
    rows: [
      {
        key: {
          text: "Lead mentors"
        },
        value: {
          text: data.leadMentors
        },
        actions: {
          items: [
            {
              href: "./lead-mentors",
              text: "Change",
              visuallyHiddenText: "number of lead mentors"
            }
          ]
        }
      },
      {
        key: {
          text: "Claim value"
        },
        value: {
          text: (data.leadMentorClaimValueOther if data.leadMentorClaimValueOther else data.leadMentorClaimValue) | currency
        },
        actions: {
          items: [
            {
              href: "./claim-value",
              text: "Change",
              visuallyHiddenText: "claim value"
            }
          ]
        }
      },
      {
        key: {
          text: "Evidence"
        },
        value: {
          html: "File name"
        },
        actions: {
          items: [
            {
              href: "./evidence",
              text: "Change",
              visuallyHiddenText: "address"
            }
          ]
        }
      }
    ]
  }) }}

  <h2 class="govuk-heading-m">Now send your application</h2>

  <p class="govuk-body">
    By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.
  </p>
{% endblock %}
