
{% set formAction  = "./claim-value-answer" %}


{% if data.leadMentors %}
  {% set maxClaimValue = data.leadMentors | stringToNumber * data.leadMentorMaxAmount %}
{% else %}
  {% set maxClaimValue = 1 * data.leadMentorMaxAmount %}
{% endif %}

{% set pageHeadingHtml = 'Did you spend more than ' + maxClaimValue | currency + ' on lead mentors?' %}
{% extends "_templates/_form.html" %}

{% block formContent %}
  {% set lessThanMaximumHtml %}
    {{ govukInput({
      label: {
        text: "Cost of lead mentors",
        classes: "govuk-label--s"
      },
      prefix: {
        text: "£"
      },
      classes: "govuk-input--width-10",
      id: "leadMentorClaimValueOther",
      name: "leadMentorClaimValueOther",
      inputmode: "numeric",
      pattern: "[0-9]*",
      spellcheck: false
    }) }}
  {% endset %}
  {{ govukRadios({
  idPrefix: "leadMentorClaimValue",
  name: "leadMentorClaimValue",
  fieldset: {
    legend: {
      text: pageHeading,
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "Select one option."
  },
  items: [
    {
      value: maxClaimValue,
      text: "Yes, claim " + maxClaimValue | currency
    },
    {
      value: "otherClaimAmount",
      text: "No",
      conditional: {
        html: lessThanMaximumHtml
      }
    }
  ]
}) }}
{% endblock %}
