
{% set formAction  = "./lead-mentors-answer" %}
{% set pageHeading = "How many lead mentors do you want to claim funding for?" %}

{% extends "_templates/_form.html" %}

{% block formContent %}
  {{ govukInput({
    label: {
      text: pageHeading,
      classes: "govuk-label--l",
      isPageHeading: true
    },
    suffix: {
      text: "lead mentors"
    },
    classes: "govuk-input--width-2",
    id: "lead-mentors",
    name: "leadMentors",
    value: data.leadMentors,
    inputmode: "numeric",
    pattern: "[0-9]*",
    spellcheck: false
  }) }}
{% endblock %}
