
{% set formAction   = "./mentors-answer" %}
{% set providerName = data.providers[ providerIndex ].name if data.providers[ providerIndex ].name else "Example provider" %}

{% set pageHeadingHtml -%}
  General mentors who trained with <span class="app-nowrap">{{ providerName }}</span>
{%- endset %}

{% extends "_templates/_form.html" %}

{% block formContent %}
  <h1 class="govuk-heading-l">
    {{ pageHeadingHtml | safe }}
  </h1>
  {% for mentorIndex in range(0, data.maxGeneralMentors) %}
    {% set trnHtml %}
      {{ govukInput({
        label: {
          text: "Teacher reference number (TRN)",
          classes: "govuk-label--s"
        },
        classes: "govuk-input--width-10",
        id: "mentor-" + mentorIndex + "-dob-or-nino",
        name: "mentors[" + ( mentorIndex ) + "][trn]",
        value: data.mentors[ providerIndex ].mentors[ mentorIndex ]["trn"]
      }) }}
    {% endset %}
    {% set ninoHtml %}
      {{ govukInput({
        label: {
          text: "National insurance number",
          classes: "govuk-label--s"
        },
        hint: {
          text: "For example, QQ 12 34 56 A"
        },
        classes: "govuk-input--width-10",
        id: "mentor-" + mentorIndex + "-dob-or-nino",
        name: "mentors[" + ( mentorIndex ) + "][National insurance number]",
        value: data.mentors[ providerIndex ].mentors[ mentorIndex ]["National insurance number"]
      }) }}
    {% endset %}
    {% set otherAmountHtml %}
      {{ govukInput({
        id: "mentor-" + mentorIndex + "-trainingTime",
        name: "mentors[" + ( mentorIndex ) + "][Training time]",
        suffix: {
          text: "hours"
        },
        classes: "govuk-input--width-2",
        label: {
          text: "Training time"
        }
      }) }}
    {% endset %}
    <div
      id="{{ mentorIndex | getOrdinalName }}-mentor-input-group"
      class="{{ 'app-display-hidden' if loop.index > 1 }}">
        <h2 class="govuk-heading-m">
          {{ loop.index | getOrdinalName | sentenceCase }} general mentor
        </h2>
        {{ govukInput({
          label: {
            text: "Full name",
            classes: "govuk-label--s"
          },
          classes: "govuk-!-width-one-half",
          id: "mentor-" + mentorIndex,
          name: "mentors[" + ( mentorIndex ) + "][Name]",
          value: data.mentors[ providerIndex ].mentors[ mentorIndex ]["Name"]
        }) }}
        {% if data.mainstreamSchool == true %}
          {{ trnHtml | safe }}
        {% else %}
          {{ govukRadios({
            idPrefix: "mentor-" + mentorIndex + "-dob-or-nino",
            name: "qualified",
            fieldset: {
              legend: {
                text: "Is the mentor a qualified mentor?",
                classes: "govuk-fieldset__legend--s"
              }
            },
            hint: {
              text: "Select one option."
            },
            items: [
              {
                value: "yes",
                text: "Yes, they have qualified mentor status (QTS)",
                conditional: {
                  html: trnHtml
                }
              },
              {
                value: "no",
                text: "No",
                conditional: {
                  html: ninoHtml
                }
              }
            ]
          }) }}
        {% endif %}
        {{ govukDateInput({
          id: "mentor-DOB-" + mentorIndex,
          namePrefix: "mentors[" + ( mentorIndex ) + "][Date of birth]",
          fieldset: {
            legend: {
              text: "Date of birth",
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: "For example, 27 3 2007"
          }
        }) }}
        {{ govukRadios({
          idPrefix: "mentor-" + mentorIndex + "-trainingTime",
          name: "mentors[" + ( mentorIndex ) + "][Training time]",
          fieldset: {
            legend: {
              text: "Mentor training time",
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: 20,
              text: "20 hours"
            },
            {
              value: 6,
              text: "6 hours"
            },
            {
              value: "",
              text:  "Other amount",
              conditional: {
                html: otherAmountHtml
              }
            }
          ]
        }) }}
      </div>
    {% if loop.index > 1 %}
        <a 
          id=   "remove-{{ loop.index | getOrdinalName }}-mentor"
          href= "#"
          type= "button"
          class="
            govuk-link
            govuk-link--no-visited-state
            govuk-body
            app-display-hidden
            govuk-!-margin-bottom-7"
          >
          Remove {{ loop.index | getOrdinalName }} mentor
        </a>
    {% endif %}
  {% endfor %}
  {{ govukButton({
    text:    "Add another general mentor",
    classes: "govuk-button--secondary",
    attributes: {
      "type": "button",
      "name": "add-mentor",
      "id":   "add-mentor"
    }
  }) }}
{% endblock %}
