
{% set formAction  = "./providers-answer" %}
{% set pageHeadingHtml -%}
  ITT providers your mentors trained with in the 
  <span class="app-nowrap">2024 to 2025 school year</span>
{%- endset %}

{% extends "_templates/_form.html" %}


{% block formContent %}

  <h1 class="govuk-heading-l">
    {{ pageHeadingHtml | safe }}
  </h1>

  {% for providerIndex in range(0, data.maxProviders) %}
    <div
      id="{{ providerIndex | getOrdinalName }}-provider-input-group"
      class="{{ 'app-display-hidden' if loop.index > 1 }}">
        {{ govukInput({
          label: {
            text: loop.index | getOrdinalName | sentenceCase + " provider name",
            classes: "govuk-label--m"
          },
          classes: "govuk-!-width-three-quarters",
          id: "provider-" + providerIndex,
          name: 'providers[' + (providerIndex) + '][name]',
          value: data.providers[providerIndex]["name"]
        }) }}
    </div>
    {% if loop.index > 1 %}
        <a 
          id=   "remove-{{ loop.index | getOrdinalName }}-provider"
          href= "#"
          type= "button"
          class="
            govuk-link 
            govuk-link--no-visited-state 
            govuk-body 
            app-display-hidden
            govuk-!-margin-bottom-7"
          >
          Remove {{ loop.index | getOrdinalName }} provider
        </a>
    {% endif %}
  {% endfor %}
  {{ govukButton({
    text:    "Add another provider",
    classes: "govuk-button--secondary",
    attributes: {
      "type": "button",
      "name": "add-provider",
      "id":   "add-provider"
    }
  }) }}
{% endblock %}
