
{% set formAction  = "./school-answer" %}
{% set pageHeading = "Which school are you claiming funding for?" %}
{% set label       = "Search for a school by its unique reference number (URN), name or postcode" %}

{% extends "_templates/_form.html" %}

{% block formContent %}
  <h1 class="govuk-heading-l">
    {{ pageHeading }}
  </h1>
  {{ appSchoolAutocomplete({
    name: "_autocomplete_result_uuid",
    value: data.school.schoolName,
    uuid: data.school.uuid,
    label: {
      text: label
    }
  }) }}
  {% set detailsHtml %}
    <p class="govuk-body">
      Settings are eligible if they are in England and listed in 
      <span class="app-nowrap">Get information about schools</span> (GIAS).
    </p>
    <p class="govuk-body">
      If your school is not listed, read guidance on <a href="https://www.get-information-schools.service.gov.uk/Guidance/Governance">how to add or update your setting in GIAS</a>.
    </p>
    <p class="govuk-body">
      If your school is listed in GIAS and you cannot find it, contact {{ appDefaultEmail({ subject: "Cannot find setting"}) }}
    </p>
  {% endset %}
  {{ govukDetails({
    summaryText: "Setting is not listed",
    html: detailsHtml
  }) }}
{% endblock %}
