
{% set formAction   = "./teachers-answer" %}
{% set providerName = data.providers[ providerIndex ].name if data.providers[ providerIndex ].name else "Example provider" %}

{% set pageHeadingHtml -%}
  General mentors who trained with <span class="app-nowrap">{{ providerName }}</span>
{%- endset %}

{% extends "_templates/_form.html" %}

{% block formContent %}
  <h1 class="govuk-heading-l">
    {{ pageHeadingHtml | safe }}
  </h1>
  {% for teacherIndex in range(0, data.maxGeneralMentors) %}
    {% set trnHtml %}
      {{ govukInput({
        label: {
          text: "Teacher reference number (TRN)",
          classes: "govuk-label--s"
        },
        classes: "govuk-input--width-10",
        id: "teacher-" + teacherIndex + "-dob-or-nino",
        name: "teachers[" + ( teacherIndex ) + "][trn]",
        value: data.teachers[ providerIndex ].teachers[ teacherIndex ]["trn"]
      }) }}
    {% endset %}
    {% set ninoHtml %}
      {{ govukInput({
        label: {
          text: "National insurance number",
          classes: "govuk-label--s"
        },
        hint: {
          text: "For example, QQ 12 34 56 A"
        },
        classes: "govuk-input--width-10",
        id: "teacher-" + teacherIndex + "-dob-or-nino",
        name: "teachers[" + ( teacherIndex ) + "][nationalInsuranceNumber]",
        value: data.teachers[ providerIndex ].teachers[ teacherIndex ]["nationalInsuranceNumber"]
      }) }}
    {% endset %}
    {% set otherAmountHtml %}
      {{ govukInput({
        id: "teacher-" + teacherIndex + "-trainingTime",
        name: "teachers[" + ( teacherIndex ) + "][trainingTime]",
        suffix: {
          text: "hours"
        },
        classes: "govuk-input--width-2",
        label: {
          text: "Training time"
        }
      }) }}
    {% endset %}
    <div
      id="{{ teacherIndex | getOrdinalName }}-teacher-input-group"
      class="{{ 'app-display-hidden' if loop.index > 1 }}">
        <h2 class="govuk-heading-m">
          {{ loop.index | getOrdinalName | sentenceCase }} general mentor
        </h2>
        {{ govukInput({
          label: {
            text: "Full name",
            classes: "govuk-label--s"
          },
          classes: "govuk-!-width-one-half",
          id: "teacher-" + teacherIndex,
          name: "teachers[" + ( teacherIndex ) + "][name]",
          value: data.teachers[ providerIndex ].teachers[ teacherIndex ]["name"]
        }) }}
        {% if data.mainstreamSchool == true %}
          {{ trnHtml | safe }}
        {% else %}
          {{ govukRadios({
            idPrefix: "teacher-" + teacherIndex + "-dob-or-nino",
            name: "qualified",
            fieldset: {
              legend: {
                text: "Is the mentor a qualified teacher?",
                classes: "govuk-fieldset__legend--s"
              }
            },
            hint: {
              text: "Select one option."
            },
            items: [
              {
                value: "yes",
                text: "Yes, they have qualified teacher status (QTS)",
                conditional: {
                  html: trnHtml
                }
              },
              {
                value: "no",
                text: "No",
                conditional: {
                  html: ninoHtml
                }
              }
            ]
          }) }}
        {% endif %}
        {{ govukDateInput({
          id: "teacher-DOB-" + teacherIndex,
          namePrefix: "teachers[" + ( teacherIndex ) + "][dateOfBirth]",
          fieldset: {
            legend: {
              text: "Date of birth",
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: "For example, 27 3 2007"
          }
        }) }}
        {{ govukRadios({
          idPrefix: "teacher-" + teacherIndex + "-trainingTime",
          name: "teachers[" + ( teacherIndex ) + "][trainingTime]",
          fieldset: {
            legend: {
              text: "Mentor training time",
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: 20,
              text: "20 hours"
            },
            {
              value: 6,
              text: "6 hours"
            },
            {
              value: "",
              text:  "Other amount",
              conditional: {
                html: otherAmountHtml
              }
            }
          ]
        }) }}
      </div>
    {% if loop.index > 1 %}
        <a 
          id=   "remove-{{ loop.index | getOrdinalName }}-teacher"
          href= "#"
          type= "button"
          class="
            govuk-link
            govuk-link--no-visited-state
            govuk-body
            app-display-hidden
            govuk-!-margin-bottom-7"
          >
          Remove {{ loop.index | getOrdinalName }} teacher
        </a>
    {% endif %}
  {% endfor %}
  {{ govukButton({
    text:    "Add another general mentor",
    classes: "govuk-button--secondary",
    attributes: {
      "type": "button",
      "name": "add-teacher",
      "id":   "add-teacher"
    }
  }) }}
{% endblock %}
