
{% set formAction  = "./confirmation" %}
{% set pageHeading = "Check your answers before sending your application" %}

{% extends "_templates/_form.html" %}

{% block formContent %}
  <h1 class="govuk-heading-l">
    {{ pageHeading }}
  </h1>


  {% set postgradKeyHtml %}
    {{ "Postgraduate ITP" if data.providerType == "hei" else "Intensive training and practice" }}<br>
    <span class="govuk-body govuk-hint">
      {{ data.postgradWeekValue | currency }} per week
    </span>
  {% endset %}

  {% set undergradKeyHtml %}
    Undegraduate ITP<br>
    <span class="govuk-body govuk-hint">
      {{ data.undergradWeekValue | currency }} per week
    </span>
  {% endset %}

  {{ govukSummaryList({
    classes: 'govuk-!-margin-bottom-9',
    rows: [
      {
        key: {
          text: postgradKeyHtml | safe
        },
        value: {
          text: data.totalPostgradItpWeeks + " weeks" | pluralise(data.totalPostgradItpWeeks) + " for " + data.postgradTrainees.length + " trainees"
        },
        actions: {
          items: [
            {
              href: "./upload-a-file",
              text: "Change",
              visuallyHiddenText: "number of postgraduate trainees" if data.providerType == "hei" else
                "number of trainees"
            }
          ]
        }
      },
      {
        key: {
          text: undergradKeyHtml | safe
        },
        value: {
          text: data.totalUndergradItpWeeks + " weeks" | pluralise(data.totalUndergradItpWeeks) + " for " + data.undergradTrainees.length + " trainees"
        },
        actions: {
          items: [
            {
              href: "./upload-a-file",
              text: "Change",
              visuallyHiddenText: "number of lead mentors"
            }
          ]
        }
      } if data.providerType == "hei",
      {
        key: {
          text: "Claim value"
        },
        value: {
          text: (data.itpClaimValueOther if data.itpClaimValueOther else data.totalItpClaimValue) | currency
        },
        actions: {
          items: [
            {
              href: "./claim-value",
              text: "Change",
              visuallyHiddenText: "claim value"
            }
          ]
        }
      },
      {
        key: {
          text: "Evidence"
        },
        value: {
          html: "File name"
        },
        actions: {
          items: [
            {
              href: "./evidence",
              text: "Change",
              visuallyHiddenText: "address"
            }
          ]
        }
      }
    ]
  }) }}

  <h2 class="govuk-heading-m">Now send your application</h2>

  <p class="govuk-body">
    By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.
  </p>
{% endblock %}
