{% set contentMd %}

  ## Overview

  Starting in the 2024 to 2025 academic year, mentors working at schools who offer ITT placements need to do up to 20 hours of initial mentor training with an accredited training provider. This is to help build on high-quality mentoring expertise in schools. 

  By claiming this funding from the Department for Education (DfE), schools will be able to support their teachers in becoming mentors. It will also help with the cost of teachers being away from the classroom while they train. 

  This funding is only for mentors working with ITT trainees, and not for mentors of early career teachers (ECTs).

  Funding is also available to help accredited training providers:

  - train and develop [lead mentors training and carrying out their role](../guidance/claim-lead-mentor-grant) in their organisation
  - create and deliver the new [intensive training and practice programme](../guidance/claim-itp-grant) for ITT trainees

  ## Amount of funding available to schools

  Schools cannot claim this funding if they are already receiving payment from a training provider that’s specifically for to cover the cost of mentor training.

  The amount of funding schools can get is based on the location of the school and how many hours a teacher spent training to be a mentor (up to a maximum of 20 hours).

  For each mentor that does the full 20 hours of training, a school can claim:

  - up to £876 — for schools outside of London (the rest of England)
  - up to £902 — for schools in the Fringe region (the area between Outer London and the rest of England)
  - up to £965 — for schools in Outer London
  - up to £1,072 — for schools in Inner London

  Find out what [region your school is in](https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/289699/Annex_C_-_Area_Cost_Adjustment__ACA_.pdf).

  The funding will be calculated per hour if a mentor does less than the 20 hours of training.

  Schools should only use this funding to support the cost of their teachers’ mentor training, this could include:

  - paying for someone to take over lessons while a teacher trains to be a mentor or to cover costs if a teacher takes time off to train (time off in lieu)
  - overtime payment to the teacher, if they are training outside of normal working hours
  - paying for any costs that come from reducing a teacher’s other responsibilities so they have time to train

  ## Claiming ITT mentor training funding

  Schools will be able to claim this funding at the end of the 2024 to 2025 academic year. The DfE will pay schools between September 2025 and January 2026.

  When schools make a claim, the DfE may ask for evidence of:

  - a mentor’s employment at the school, such as a copy of their employment contract or payslips from the 2024 to 2025 academic year
  - arranging placements at their school for ITT trainees, such as communication with providers to organise this

  The DfE will also ask providers directly for evidence of the hours of initial training a mentor did.

  In 2024, the DfE will review this funding and communicate to schools about if this funding will continue after the 2024 to 2025 academic year.

  ## Funding conditions relating to ITT mentors

  In the 2024 to 2025 academic year, teachers training to be mentors must do up to 20 hours of initial mentor training and mentor at least one trainee for schools to claim this funding.

  Teachers can do their initial mentor training between 6 April 2024 and 31 July 2025.

  The amount of time a teacher spends in initial mentor training can be decided by training providers and can be less than 20 hours.  Providers should consider the prior learning and experience of each teacher training with them and reduce the 20 hours if needed.

  ### Mentors who cannot continue with mentoring

  A school can claim funding for a mentor if they do their initial training then start mentoring a trainee but then cannot continue mentoring. The trainee should get a new mentor and the school will be able to claim funding for both mentors if they did their training between 6 April 2024 and 31 July 2025.

  A school cannot claim funding if a mentor did their training but does not work with a trainee at all.

  ### Mentors training with different providers

  Training providers are responsible for developing their own mentor training that aligns with their trainee curriculum. This means each provider’s mentor training might be different.

  If a school hosts trainees from different providers, a teacher might have to do their initial mentor training with each provider. In this situation, a school can claim funding for the time a teacher spends training at each provider. 

  > For example:
  >
  > In the 2024 to 2025 academic year, a school hosts 2 trainees. One trainee from Provider A and one trainee from Provider B.
  >
  > The same mentor works with both trainees. 
  >
  > Provider A decides the mentor must do 20 hours of initial mentor training.
  >
  > Provider B decides the mentor should only do 15 hours or initial mentor training.
  >
  > The mentor trains for a total of 35 hours in the 2024 to 2025 academic year.
  >
  > The school can claim funding for 35 hours of training for that mentor.

  ## Funding conditions relating to ITT trainees

  For schools to claim this funding, a mentor must have worked with a trainee that started their ITT at some point in the 2024 to 2025 academic year (between 1 September 2024 and 31 August 2025).

  Schools should make sure a trainee has one dedicated mentor during their placement. Schools can claim funding for this mentor, but not for other teachers supporting other elements of the trainee’s placement

  This funding is not available to schools if a mentor only works with high potential initial teacher training (HPITT) trainees.

  ### Trainees that defer or withdraw from ITT

  A school can claim funding if a mentor works with a trainee that:

  - deferred in a previous academic year and then returns to their course in the 2024 to 2025 academic year for any amount of training
  - defers or withdraws after a mentor has started their initial training – the mentor can still continue with their mentor training if they commit to being a mentor in the following academic year

  A school cannot claim funding if a trainee withdraws or defers before a mentor starts their training.

{% endset %}

{{ contentMd | markdown | safe }}
