{% set contentMd %}

  ## Overview

  The funding was set up in response to the Department for Education’s (DfE) [review of ITT](https://www.gov.uk/government/publications/initial-teacher-training-itt-market-review/initial-teacher-training-itt-market-review-overview). This review identified high-quality mentoring as an important part of a trainee’s development as a teacher.

  Starting in the 2024 to 2025 academic year, mentors working at schools who offer ITT placements need to do up to 20 hours of initial mentor training with an accredited training provider. This is to help build on mentoring expertise in schools. 

  After mentors have done initial mentor training, they can do extra training in following academic years to refresh their mentoring skills.

  Funding for initial ITT mentor training will help schools support their teachers in becoming mentors. It will also help with the cost of their teachers being away from the classroom while they train. 

  This funding is not for Early Career Teacher (ECT) mentor training.

  Funding is also available to help accredited training providers:

  - cover the cost of [lead mentors training and carrying out their role](#)
  - create and deliver the new [intensive training and practice programme](#) for ITT trainees


  ## Amount of funding available to schools

  The amount of funding schools can get is based on the region of the school and how many hours a teacher spent training to be a mentor. Schools can only claim this funding in the 2024 to 2025 academic year.

  This funding applies to all schools who offer placements to ITT trainees, including independent schools and further education organisations.

  For each mentor, a school can claim:

  - up to £1,072 — for schools in Inner London
  - up to £965 — for schools in Outer London
  - up to £902 — for schools in the Fringe region (the area between Outer London and the rest of England)
  - up to £876 — for schools in the rest of England

  Find out what [region your school is in](https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/289699/Annex_C_-_Area_Cost_Adjustment__ACA_.pdf).

  Schools should only use this funding to support the costs of teachers training to be mentors, this could include:

  - paying for someone to take over lessons while a teacher trains to be a mentor
  - overtime payments if a teacher is training outside of normal working hours
  - paying for any costs that come from reducing a teacher’s other responsibilities so they have time to train

  The funding cannot be claimed if the school is receiving payment from a training provider to cover the teacher training time.


  ## Funding conditions relating to ITT mentors

  Teachers training to be mentors must do up to 20 hours of initial mentor training for schools to claim this funding. This is not the same training that a [lead mentor](#) has to do (up to 30 hours).

  The amount of time a teacher spends in initial mentor training can be decided by training providers and can be less than 20 hours. For example, if a teacher has done their national professional qualification (NPQ), they might not need the full 20 hours of mentor training.

  Teachers can do their 20 hours of initial mentor training between 6 April 2024 and 1 July 2025.

  ### Mentors who cannot continue with mentoring

  If a mentor starts working with a trainee but then cannot continue, the school can decide to replace the existing mentor with a new one. 

  Schools will be able to claim for the training time of the old mentor and the new mentor if they both did their training between 6 April 2024 and 1 July 2025.

  ### Mentors who do not finish their training

  A mentor can complete the remaining hours of their training in the next academic year if they do not complete the full 20 hours in the 2024 to 2025 academic year. For example:

  >   A mentor starts training late in the 2024 to 2025 academic year and does not finish the full 20 hours before the end of the academic year.
  >
  >   They only finish 16 hours of initial training which means the school can claim funding for 16 hours of training in the 2024 to 2025 academic year.

  ### Mentors training with more than one provider

  A school can claim up to 20 hours of initial mentor training for each provider a mentor trains with. This can happen if a mentor works with trainees from different providers. For example:

  >  In the 2024 to 2025 academic year, a mentor works with 1 trainee from Provider A and 1 trainee from Provider B at the same school. 
  >
  >  Each training provider decides the mentor must do 20 hours of mentor training with each of them. 
  >
  >  The mentor trains for a total of 40 hours in the 2024 to 2025 academic year. The school can claim for 40 hours of training for that mentor.

  ### Mentors working for more than one school

  Each school a mentor works at can claim up to 20 hours of mentor training for each provider a mentor trains with. This can happen if a mentor works with trainees from:

  - different providers but doing their ITT placements at different schools
  - the same provider but doing their ITT placements at different schools

  For example:

  >  A mentor works for 2 schools, School A and School B. School A hosts a trainee from Provider A. School B hosts a trainee from Provider B.
  >
  >  The mentor works with the trainee from Provider A at School A and the trainee from Provider B at School B.
  >
  >  The mentor trains for 20 hours with Provider A and 18 hours with Provider B.
  >
  >  School A can claim for 20 hours of training with Provider A. School B can claim for 18 hours of training with Provider B.


  ## Funding conditions relating to ITT trainees

  For schools to claim this funding, mentors must have worked with trainees that started their ITT at some point in the 2024 to 2025 academic year (between 1 September 2024 and 31 August 2025). 

  A trainee can have 2 mentors, but the Department for Education (DfE) will only fund 1 of the mentors in this case.

  ITT mentor funding is not available to schools if a mentor only works with high potential initial teacher training (HPITT) trainees.

  ### Trainees that defer or withdraw from ITT

  A school can claim funding if a trainee: 

  - deferred in a previous academic year and then returns to their course in the 2024 to 2025 academic year for any amount of training
  - defers or withdraws after a mentor has started their training – the mentor can still continue with their mentor training

  A school cannot claim funding if a trainee withdraws or defers before a mentor starts their training.


  ## Claiming ITT mentor training funding

  Schools will be able to claim this funding at the end of the 2024 to 2025 academic year.

  Schools will not need any evidence upfront when they make a claim, but the DfE may ask for this later when checking claims. Evidence schools may need to provide include:

  - ITT trainees that did placements at their school
  - the hours of mentor training a teacher did – this should come from the provider the mentor trained with
  - proof of employment of the mentor

  In 2024, the DfE will decide if funding for ITT mentor training will continue after the 2024 to 2025 academic year.

{% endset %}

{{ contentMd | markdown | safe }}
