{% set contentMd %}

  ## Overview

  In the 2024 to 2025 academic year, ITT trainees will need to do a new intensive training and practice (ITP) programme during their course. ITP programmes will give trainees more focus on specific areas of the ITT curriculum. Accredited training providers are responsible for developing ITP programmes for their trainees.

  Detailed information on what ITP programmes should include will be published closer to the 2024 to 2025 academic year in the Initial Teacher Training (ITT): criteria and supporting advice.

  Other funding is also available to help:

  - schools cover the cost of teachers [training to be ITT mentors](../guidance/apply-for-itt-general-mentor-training-funding)
  - accredited training providers cover the cost of [lead mentors training and carrying out their role](#)

  ## Amount of funding available to accredited training providers

  For each trainee, training providers can claim:

  - £204 per postgraduate trainee
  - £298 per undergraduate trainee

  The amount of funding will be based on the number of trainees starting their ITT course in the 2024 to 2025 academic year. For example:

  > At Provider A there are 50 trainees doing undergraduate ITT courses and 50 trainees doing postgraduate ITT courses. They all start their training in the 2024 to 2025 academic year.
  >
  > Provider A can claim: 
  >
  > - £10,200 for postgraduate trainees (£204 per trainee ✕ 50 trainees)
  > - £14,900 for undergraduate trainees (£298 per trainee ✕ 50 trainees)
  >
  > Provider A can claim a total of £25,100 towards the costs of creating and delivering an ITP programme.

  ## Using funding claimed for ITP programmes

  Training providers should only use this funding to support the costs of creating and delivering an ITP programme, this includes:

  - paying for the time teaching experts spend on putting together an ITP programme
  - paying for teaching experts to deliver the ITP programme to trainees
  - passing the funding to partner schools if they are creating and delivering the ITP programme to trainees

  The funding cannot be spent on paying for lead mentors’ time to put together and deliver an ITP programme if the training provider is also claiming for lead mentor funding.

  ## Funding conditions for the ITP programme

  Training providers can claim funding for ITP programmes if their trainees:

  - started their training at any time between 1 August 2024 and 31 July 2025
  - are on a course leading to qualified teacher status (QTS)
  - are registered with the Department for Education

  Funding cannot be claimed for trainees doing ‘Assessment only’ training.

  ### Trainees that have deferred

  Training providers cannot claim this funding for a trainee if they have deferred before the 2024 to 2025 academic year and then return to their training at the start of, or during, the 2024 to 2025 academic year. For example:

  > At Provider B, a postgraduate trainee starts their ITT training in October 2023. They decide to defer during that year and return to their training in January 2025. 
  >
  > Provider B cannot claim the £204 to cover the cost of ITP for that trainee. That trainee also does not have to take part in an ITP programme.

  Training providers can claim this funding if a trainee starts their training for the first time in the 2024 to 2025 academic year, but then defers or withdraws later in that same academic year.

  ### Undergraduate trainees

  Training providers can only claim this funding for trainees starting their first year of training in the 2024 to 2025 academic year.

  Any undergraduate trainees that started their training before the 2024 to 2025 academic year do not count towards the amount training providers can claim.

  ## Claiming funding for ITP programmes

  Training providers can claim funding for ITP programmes, as long as all their ITT trainees are [registered with the Department for Education (DfE)](https://www.register-trainee-teachers.service.gov.uk) by the end of the 2024 to 2025 academic year.

  The DfE will receive claims and use the provider’s trainee registration data to check that the number of trainees that started their training is accurate. The DfE may ask for further evidence if needed.

  In 2024, the DfE will decide if funding for ITP programmes will continue after the 2024 to 2025 academic year.

{% endset %}

{{ contentMd | markdown | safe }}
