{% set contentMd %}

  ## Overview

  Starting in the 2024 to 2025 academic year, ITT trainees will need to do a new intensive training and practice element during their course. This element will be delivered by teaching experts to give trainees more focus on specific areas of the ITT curriculum. It will allow trainees the opportunity to use the theory they’ve learnt and apply it to practical classroom situations while getting continued feedback from experts.

  Accredited training providers are responsible for developing an intensive training and practice element for their trainees. This funding will help with the cost of creating and delivering this to trainees.

  Other funding is also available to help:

  - training providers cover the cost of [lead mentors training and carrying out their role](/guidance/claim-lead-mentor-grant)
  - schools cover the cost of teachers [training to be mentors](/guidance/apply-for-itt-general-mentor-training-funding) to ITT trainees

  ## Amount of funding available to accredited training providers

  For each trainee, training providers can claim:

  - £204 per postgraduate trainee
  - £298 per undergraduate trainee

  Funding cannot be claimed for trainees doing an ‘Assessment only’ programme.

  The amount of funding will be based on the number of trainees starting their ITT course in the 2024 to 2025 academic year. 

  > For example:
  >
  > A provider has 50 trainees doing undergraduate ITT courses and 50 trainees doing postgraduate ITT courses. They all start their training in the 2024 to 2025 academic year.
  >
  > The provider can claim:
  >
  > - £10,200 for postgraduate trainees (£204 per trainee ✕ 50 trainees)
  > - £14,900 for undergraduate trainees (£298 per trainee ✕ 50 trainees)
  >
  > The provider can claim a total of £25,100 towards the costs of creating and delivering an intensive training and practice element.

  ## Claiming funding for ITP programmes

  Training providers can only claim this funding for trainees starting their ITT in the 2024 to 2025 academic year. Providers will be able to make a claim depending on when their trainees finish their entire ITT course. For example, providers with:

  - postgraduate trainees on a one year course can claim at the end of the 2024 to 2025 academic year
  - part-time postgraduate trainees on a 2 year course can claim at the end of the 2025 to 2026 academic year
  - undergraduate trainees on a 3 year course can claim at the end of the 2026 to 2027 academic year

  When providers make a claim, their trainees should be [registered with the Department for Education (DfE)](https://www.register-trainee-teachers.service.gov.uk). Their trainee registration data will be checked to make sure the number of trainees that started their training is accurate. The DfE will ask for further evidence once a claim is made.
  
  ## Using funding claimed for ITP programmes

  Training providers should only use this funding to support the costs of creating and delivering an intensive training and practice element for their ITT course.

  This funding cannot be spent on paying for lead mentors’ time to put together and deliver this element if the training provider is also claiming for [lead mentor funding](/guidance/claim-lead-mentor-grant).

  This funding can be used for:

  - paying for the time teaching experts spend on putting together an intensive training and practice element
  - paying for teaching experts to deliver this element to trainees
  - passing the funding to partner schools if they are helping to create and deliver this element to trainees

  ## Funding conditions for intensive training and practice

  Training providers can claim this funding if their trainees:

  - started their training at any time between 1 August 2024 and 31 July 2025
  - are on a course leading to qualified teacher status (QTS)
  - are registered with the DfE

  ### Trainees that have deferred

  Training providers can claim this funding if a trainee starts their training for the first time in the 2024 to 2025 academic year, but then defers or withdraws later in that same academic year.

  Training providers cannot claim this funding for a trainee if they have deferred before the 2024 to 2025 academic year and then return to their training at the start of, or during, the 2024 to 2025 academic year. 

  > For example:
  >
  > A postgraduate trainee starts their ITT training in October 2023. They decide to defer during that year and return to their training in January 2025.
  >
  > The trainee’s providerProvider B cannot claim the £204 to cover the cost of intensive training and practice for that trainee. That trainee also does not have to take part in an ITP programme.

  ### Undergraduate trainees

  Training providers can only claim this funding for undergraduate trainees starting their first year of training in the 2024 to 2025 academic year. Funding will be paid to providers when their undergraduate trainees finish their ITT course.

{% endset %}

{{ contentMd | markdown | safe }}
