{% set contentMd %}

  ## Overview

  Lead mentors are an important part of ITT by being experts in their subject areas and having a deep knowledge of the training curriculum so they can give support to ITT trainees and the mentors working with them.

  Accredited training providers will be able to claim funding to help with the cost of lead mentors taking the time they need to train and carry out their role. Providers can start claiming this funding in the 2024 to 2025 academic year.

  Funding is also available to help:

  - schools pay for teachers [training to be ITT mentors](../guidance/apply-for-itt-general-mentor-training-funding)
  - accredited training providers create and deliver the new [intensive training and practice element](../guidance/claim-itp-grant) for ITT courses

  ## Amount of funding available to training providers

  The amount of funding training providers can claim is different if lead mentors are responsible for postgraduate trainees or undergraduate trainees. This is because over a 3 or 4 year undergraduate course, a lead mentor might spread their workload over those years compared to a lead mentor responsible for postgraduates on a 1 year course.

  ### Postgraduate trainees

  In the 2024 to 2025 academic year, training providers can claim up to £9,514 for every 1 lead mentor to 25 postgraduate trainees (a ratio of 1:25). £9,514 is 1 unit of funding.

  There is no limit on the number of lead mentors to postgraduate trainees a training provider can claim for within this ratio.

  As an example of the 1:25 ratio, training providers can claim:

  - £9,514 for 1 lead mentor to 25 postgraduate trainees (1 unit of funding)
  - £9,514 for 1 lead mentor to 50 trainees (1 unit of funding – because of the 1:25 ratio, to get 2 units of funding you would need 2 lead mentors to 50 trainees)
  - £76,112 for 8 lead mentors to 200 trainees (8 units of funding)

  If training providers have less than 25 postgraduate trainees, they can claim £9,514 (1 unit of funding) overall.

  ### Undergraduate trainees

  For undergraduate trainees starting in the 2024 to 2025 academic year, training providers can claim up to £5,710 for every 1 lead mentor to 25 undergraduate trainees (a ratio of 1:25).

  There is no limit on the number of lead mentors to undergraduate trainees a training provider can claim for within this ratio.

  As an example of the 1:25 ratio, training providers can claim:

  - £5,710 for 1 lead mentor to 25 undergraduate trainees (1 unit of funding)
  - £5,710 for 1 lead mentor to 50 trainees (1 unit of funding – because of the 1:25 ratio, to get 2 units of funding you would need 2 lead mentors to 50 trainees)
  - £45,680 for 8 lead mentors to 200 trainees (8 units of funding)

  ### Trainee numbers that do not fit into the 1:25 ratio

  If trainee numbers cannot be neatly divided by multiples of 25, the DfE will still provide this funding depending on how close trainee numbers are to the cut off of each unit of funding.

  The table shows an example of how this works up to xxx trainees, but there’s no limit on the number of lead mentors to trainees providers can claim for..

  | Trainees             | Maximum amount of funding available for postgraduate trainees | Maximum amount of funding available for undergraduate trainees | Units of funding |
  |:---------------------|--------------------------------------------------------------:|---------------------------------------------------------------:|-----------------:|
  | 1&nbsp;to&nbsp;39    |                                                        £9,514 |                                                         £5,710 |                1 |
  | 40&nbsp;to&nbsp;64   |                                                       £19,028 |                                                        £11,420 |                2 |
  | 65&nbsp;to&nbsp;89   |                                                       £28,542 |                                                        £17,130 |                3 |
  | 90&nbsp;to&nbsp;114  |                                                       £38,056 |                                                        £22,840 |                4 |
  | 115&nbsp;to&nbsp;139 |                                                       £47,570 |                                                        £34,260 |                6 |
  | 140&nbsp;to&nbsp;164 |                                                       £57,084 |                                                        £39,970 |                7 |
  | 165&nbsp;to&nbsp;189 |                                                       £66,598 |                                                        £45,680 |                8 |
  | 190&nbsp;to&nbsp;214 |                                                       £76,112 |                                                        £51,390 |                9 |
  | 215&nbsp;to&nbsp;149 |                                                       £85,626 |                                                        £57,100 |               10 |

  In 2024, the DfE will review this funding and communicate to training providers about if this funding will continue after the 2024 to 2025 academic year.

  ## Claiming lead mentor funding

  Training providers will be able to claim funding for the lead mentor role at the end of the 2024 to 2025 academic year. A provider’s ITT trainees must all be [registered with the Department for Education (DfE)](https://www.register-trainee-teachers.service.gov.uk) by the end of the 2024 to 2025 academic year to claim this funding.

  Payments will be made between September 2025 and January 2026.

  When training providers make a claim, their trainee registration data will be checked to make sure the number of trainees that started their training is accurate. The DfE will need evidence when the provider claims. Providers will be given more details closer to the time.

  ## Funding conditions relating to lead mentors

  ### Lead mentors who are employed by schools

  Lead mentors can be employed by a school (school-based) and not employed by a training provider. In these cases, training providers should decide how much funding for lead mentors they give to the school in a way that’s fair.

  If training providers decide not to give funding to a school, they’ll need to give a reason for this when they make a claim.

  ### Lead mentors cannot continue with their role

  If a lead mentor starts but then cannot continue with their role as a lead mentor, training providers can still include them in the 1:25 ratio when they claim funding.

  ### Funding conditions relating to ITT trainees

  Training providers cannot include any high potential initial teacher training (HPITT) trainees in the 1:25 ratio to claim this funding. Funding also cannot be claimed for trainees doing ‘Assessment only’ programmes.

  Trainees that can be included in the 1:25 ratio are trainees:

  - that started their training at any time between 1 August 2024 and 31 July 2025
  - on undergraduate or postgraduate courses
  - that are full time or part time
  - on a course leading to qualified teacher status (QTS)

  ### Trainees that defer or withdraw from ITT

  Depending on when a trainee defers or withdraws from their ITT, they can still count towards the 1:25 ratio for lead mentor funding. Trainees will be included in the 1:25 ratio if they:

  - deferred in a previous academic year and then returns to their ITT in the 2024 to 2025 academic year for any amount of training
  - start their training in the 2024 to 2025 academic year, but then defer or withdraw later in the year

{% endset %}

{{ contentMd | markdown | safe }}
