
{% set pageHeading = "Initial teacher training mentoring" %}

{% extends "layout.html" %}

{% set pageList = [
  {
    userGroup: 'Schools',
    fundingTypes: [
      {
        fundingName: 'General mentor training grant',
        pages: [
          {
            text: 'Guidance',
            url:  '/guidance/apply-for-itt-general-mentor-training-funding'
          },
          {
            text: 'Claim form',
            url:  '/claim-general-mentor-funding/school'
          }
        ]
      }
    ]
  },
  {
    userGroup: 'Providers',
    fundingTypes: [
      {
        fundingName: 'Lead mentor grant',
        pages: [
          {
            text: 'Claim form',
            url:  '/lead-mentor-grant/answer'
          }
        ]
      },
      {
        fundingName: 'Intensive training and practice grant',
        pages: [
          {
            text: 'Claim form',
            url:  '/itp-grant/answer'
          }
        ]
      }
    ]
  }
] %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Prototype</span>
        {{ pageHeading }}
      </h1>
      {% for group in pageList %}
        <h2 class="govuk-heading-l">
          {{ group.userGroup }}
        </h2>
        {% for fundingType in group.fundingTypes %}
          <h3 class="govuk-heading-m">
            {{ fundingType.fundingName }}
          </h3>
          <ul class="govuk-list govuk-list--spaced">
            {% for page in fundingType.pages %}
              <li>
                {% if page.url %}
                  <a href="{{ page.url }}" 
                    class="govuk-link govuk-link--no-visited-state">
                    {{ page.text }}
                  </a>
                {% else %}
                  <p class="govuk-body govuk-hint">
                    {{ page.text }} (coming soon)
                  </p>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        {% endfor %}
      {% endfor %}
    </div>
  </div>

{% endblock %}
