
{% set pageTitle = "Initial teacher training mentoring" %}

{% extends "layout.html" %}

{% set pageGroups = [
  {
    title: 'Guidance',
    pages: [
      {
        text: "Apply for ITT general mentor training funding",
        url:  "/guidance/apply-for-itt-general-mentor-training-funding"
      }
    ]
  }
] %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Prototype</span>
        {{ pageTitle }}
      </h1>
      <h2 class="govuk-heading-l">
        Pages
      </h2>
      {% for pageGroup in pageGroups %}
       <h3 class="govuk-heading-m">
          {{ pageGroup.title }}
        </h3>
      <ul class="govuk-list govuk-list--bullet">
      {% for page in pageGroup.pages %}
        <li>
          <a href="{{ page.url }}" class="govuk-link">{{ page.text }}</a>
        </li>
      {% endfor %}
      </ul>
      {% endfor %}
    </div>
  </div>

{% endblock %}
